services:
  - type: web
    name: sequence-audio-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: node server.js
    envVars:
  - key: PORT
    value: 10000

  - key: RADIO_KEY
    value: ZiKEY

